footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $background-dark-color;

  @media screen and (min-width: 320px) and (max-width: 1200px) {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-wrapper {
    display: flex;
  }
}
