.our-clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.clients-list-item {
  margin: 15px;
  width: calc((100% - 4 * 15px) / 2);
}
.clients-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  color: #afb1b8;

  transition: color 250ms $timing-function, border 250ms $timing-function;

  &:hover,
  &:focus {
    border: 1px solid $accent-color;
    color: $accent-color;
  }
}
.clients-logo {
  fill: currentColor;
}
@media screen and (min-width: 768px) {
  .clients-list-item {
    width: calc((100% - 6 * 15px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-list-item {
    width: calc((100% - 12 * 15px) / 6);
  }
  .our-clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
