.overlay {
  position: absolute;
  top: 1px;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: $white-font-color;
  background: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms $timing-function;

  .portfolio-link:hover &,
  .portfolio-link:focus & {
    transform: translateY(0);
  }
}

.portfolio-img-overlay {
  position: relative;
  overflow: hidden;
}
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.portfolio-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 3 - 30px);
}
.portfolio-link {
  display: block;
  transition: box-shadow 250ms $timing-function;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $main-font-color;

  padding-bottom: 4px;
}
.portfolio-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: $secondary-font-color;

  margin-top: 0;
  margin-bottom: 0;
}
.portfolio-item-description {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
