address {
  margin-top: 20px;
}
.footer-address-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $white-font-color;

  &:not(:last-child) {
    margin-bottom: 6px;
  }
}
.footer-address-link {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}
