$accent-color: #2196f3;
$main-font-color: #212121;
$secondary-font-color: #757575;
$white-font-color: #ffffff;
$background-dark-color: #2f303a;
$main-font: 'Roboto', sans-serif;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
